In [1]:
import pandas as pd 
import numpy as np

In [2]:
pd.set_option('display.max_columns', 50)

In [3]:
data = pd.read_csv('match_to_match_data.csv')
ball_data = pd.read_csv('ball_to_ball_data.csv')

In [4]:
data.head()

,Unnamed: 0,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,season,first_inning_runs,second_inning_runs,total_runs
0,0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,Regular,Asad Rauf,RE Koertzen,2008,222,82,304
1,1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,Regular,MR Benson,SL Shastri,2008,240,207,447
2,2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,Regular,Aleem Dar,GA Pratapkumar,2008,129,132,261
3,3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,Regular,SJ Davis,DJ Harper,2008,165,166,331
4,4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,Regular,BF Bowden,K Hariharan,2008,110,112,222

In [5]:
ball_data.head()

,Unnamed: 0,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,not out,none,unknown,no extra,Kolkata Knight Riders,Royal Challengers Bangalore
1,1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,not out,none,unknown,no extra,Kolkata Knight Riders,Royal Challengers Bangalore
2,2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,not out,none,unknown,no extra,Kolkata Knight Riders,Royal Challengers Bangalore
3,3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,not out,none,unknown,no extra,Kolkata Knight Riders,Royal Challengers Bangalore
4,4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,not out,none,unknown,no extra,Kolkata Knight Riders,Royal Challengers Bangalore

In [6]:
data.columns

Index(['Unnamed: 0', 'id', 'city', 'date', 'player_of_match', 'venue',
       'neutral_venue', 'team1', 'team2', 'toss_winner', 'toss_decision',
       'winner', 'result', 'result_margin', 'eliminator', 'method', 'umpire1',
       'umpire2', 'season', 'first_inning_runs', 'second_inning_runs',
       'total_runs'],
      dtype='object')

## Preprocessing

In [7]:
data['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants', 'Delhi Capitals'],
      dtype=object)

In [8]:
# only taking active teams 
teams = ['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings','Sunrisers Hyderabad' ,'Delhi Capitals' ]

data = data[data['team1'].isin(teams)]
data = data[data['team2'].isin(teams)]

data['team1']  =data['team1'].str.replace('Deccan Chargers' ,'Sunrisers Hyderabad' )
data['team2']  =data['team2'].str.replace('Deccan Chargers' ,'Sunrisers Hyderabad' )

data['team1']  =data['team1'].str.replace('Delhi Daredevils' ,'Delhi Capitals' )
data['team2']  =data['team2'].str.replace('Delhi Daredevils' ,'Delhi Capitals' )

In [9]:
# for balls_data
teams = ['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings','Sunrisers Hyderabad' ,'Delhi Capitals' ]

ball_data = ball_data[ball_data['batting_team'].isin(teams)]
ball_data = ball_data[ball_data['bowling_team'].isin(teams)]

ball_data['batting_team']  =ball_data['batting_team'].str.replace('Deccan Chargers' ,'Sunrisers Hyderabad' )
ball_data['bowling_team']  =ball_data['bowling_team'].str.replace('Deccan Chargers' ,'Sunrisers Hyderabad' )

ball_data['batting_team']  =ball_data['batting_team'].str.replace('Delhi Daredevils' ,'Delhi Capitals' )
ball_data['bowling_team']  =ball_data['bowling_team'].str.replace('Delhi Daredevils' ,'Delhi Capitals' )

In [10]:
# removing DLS based matches
data = data[data['method'] == 'Regular']
data.shape

(683, 22)

In [11]:
# removing DLS based matches from balls data
ball_data = ball_data[ball_data['id'].isin(list(data['id']))]

In [12]:
ball_data['id'].nunique()

683

In [13]:
df = data[['id' , 'city' , 'first_inning_runs' , 'winner']]

In [14]:
df = df.merge(ball_data , on = 'id')

In [15]:
# we will need probabibilty in second inning so we need only second inning balls
df = df[df['inning'] == 2]

## Feature Engineering

In [16]:
df['current_score'] = df.groupby(['id']).cumsum(numeric_only = True)['total_runs']

In [17]:
df['runs_left'] = df['first_inning_runs'] +1 - df['current_score']

In [18]:
df['balls_left'] = 126 - (df['over']*6 + df['ball'])

In [19]:
# for calculating wickets left 
df['player_dismissed'] = df['player_dismissed'].str.replace('none'  ,'0')
df['player_dismissed']  = df['player_dismissed'].apply(lambda x:x if x == '0' else '1')
df['player_dismissed']  = df['player_dismissed'].astype('int')
wickets = df.groupby('id').cumsum()['player_dismissed'].values
df['wickets'] = 10 - wickets

C:\Users\windows\AppData\Local\Temp\ipykernel_22396\3932963648.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wickets = df.groupby('id').cumsum()['player_dismissed'].values

In [20]:
df.head()

,id,city,first_inning_runs,winner,Unnamed: 0,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,current_score,runs_left,balls_left,wickets
121,335982,Bangalore,222,Kolkata Knight Riders,121,2,6,2,CL White,MV Boucher,AB Agarkar,0,0,0,0,0,not out,0,unknown,no extra,Royal Challengers Bangalore,Kolkata Knight Riders,0,223,88,10
122,335982,Bangalore,222,Kolkata Knight Riders,122,2,6,3,CL White,MV Boucher,AB Agarkar,1,0,1,0,0,not out,0,unknown,no extra,Royal Challengers Bangalore,Kolkata Knight Riders,1,222,87,10
123,335982,Bangalore,222,Kolkata Knight Riders,123,2,6,4,MV Boucher,CL White,AB Agarkar,0,1,1,0,0,not out,0,unknown,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2,221,86,10
124,335982,Bangalore,222,Kolkata Knight Riders,124,2,6,5,MV Boucher,CL White,AB Agarkar,0,1,1,0,0,not out,0,unknown,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3,220,85,10
125,335982,Bangalore,222,Kolkata Knight Riders,125,2,6,6,MV Boucher,CL White,AB Agarkar,0,0,0,0,0,not out,0,unknown,no extra,Royal Challengers Bangalore,Kolkata Knight Riders,3,220,84,10

In [21]:
# current run rate 
df['crr'] = round((df['current_score'] * 6) / (120 - df['balls_left']) ,2 )

In [22]:
# required run rate
df['rrr'] = round((df['runs_left']*6) / df['balls_left'] , 2)

In [23]:
# result columns

def result(rows):
    return 1 if rows['batting_team'] == rows['winner'] else 0

In [24]:
df['result'] =  df.apply(result , axis=1)

In [25]:
df.columns

Index(['id', 'city', 'first_inning_runs', 'winner', 'Unnamed: 0', 'inning',
       'over', 'ball', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team', 'current_score', 'runs_left',
       'balls_left', 'wickets', 'crr', 'rrr', 'result'],
      dtype='object')

## Model Building

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [27]:
model_df = df[['batting_team' , 'bowling_team' , 'city' , 'current_score', 'runs_left',
       'balls_left', 'wickets', 'crr', 'rrr', 'result']]

In [28]:
model_df.head()

,batting_team,bowling_team,city,current_score,runs_left,balls_left,wickets,crr,rrr,result
121,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,0,223,88,10,0.00,15.20,0
122,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,1,222,87,10,0.18,15.31,0
123,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,2,221,86,10,0.35,15.42,0
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,3,220,85,10,0.51,15.53,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,3,220,84,10,0.50,15.71,0

In [29]:
# shuffling model
model_df = model_df.sample(model_df.shape[0])

In [30]:
model_df.isnull().sum()

batting_team      0
bowling_team      0
city              0
current_score     0
runs_left         0
balls_left        0
wickets           0
crr              16
rrr               0
result            0
dtype: int64

In [31]:
model_df.dropna(inplace=True)

In [32]:
model_df.describe()

,current_score,runs_left,balls_left,wickets,crr,rrr,result
count,79407.000000,79407.000000,79407.000000,79407.000000,79407.00,79407.000000,79407.000000
mean,75.522762,90.322289,68.585314,7.145264,inf,11.394669,0.458322
std,47.413149,50.688584,33.405873,2.441785,NaN,13.986054,0.498263
min,0.000000,-5.000000,3.000000,0.000000,-1068.00,-3.330000,0.000000
25%,35.000000,49.000000,41.000000,6.000000,4.20,4.380000,0.000000
50%,73.000000,89.000000,69.000000,8.000000,8.02,8.190000,0.000000
75%,112.000000,129.000000,97.000000,9.000000,14.67,13.250000,1.000000
max,226.000000,247.000000,125.000000,10.000000,inf,398.000000,1.000000

In [33]:
# to remove infinite in crr
model_df = model_df[model_df['balls_left'] != 120]

In [34]:
X = model_df.drop(columns=['result'])
y = model_df['result']

In [35]:
X_train , X_test , y_train , y_test = train_test_split(X , y , random_state=1 , test_size=0.2 )

In [36]:
oh_enc = OneHotEncoder(sparse=False , drop='first')
feat_cols = model_df.select_dtypes('object').columns

In [37]:
preprocessor = ColumnTransformer([
    ('OneHotEncoding' , oh_enc , feat_cols)
] , remainder='passthrough')

In [38]:
pipe = Pipeline(steps=[
    ('step1' , preprocessor),
    ('step2' ,LogisticRegression() )
])

In [39]:
pipe.fit(X_train , y_train)

C:\Users\windows\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\windows\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('OneHotEncoding',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  Index(['batting_team', 'bowling_team', 'city'], dtype='object'))])),
                ('step2', LogisticRegression())])

In [41]:
pred = pipe.predict(X_test)

In [43]:
# we are going with logistic regression as it provides more realistic resutls than random_forest
accuracy_score(y_true=y_test , y_pred= pred)

0.8152146304292609

## Exporting

In [44]:
model_df['city'].unique()

array(['Delhi', 'Kolkata', 'Chennai', 'Mumbai', 'Bangalore', 'Sharjah',
       'Raipur', 'Ahmedabad', 'Hyderabad', 'East London', 'Chandigarh',
       'Durban', 'Johannesburg', 'Abu Dhabi', 'Bengaluru', 'Pune',
       'Dharamsala', 'Nagpur', 'Jaipur', 'Dubai', 'Cape Town',
       'Kimberley', 'Port Elizabeth', 'Centurion', 'Ranchi', 'Cuttack',
       'Indore', 'Visakhapatnam', 'Bloemfontein'], dtype=object)

In [45]:
model_df['batting_team'].unique()

array(['Delhi Capitals', 'Kolkata Knight Riders', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Mumbai Indians',
       'Sunrisers Hyderabad', 'Rajasthan Royals', 'Chennai Super Kings'],
      dtype=object)

In [46]:
import pickle
pickle.dump(pipe , open('pipe.pkl' , 'wb'))